@import url("./module/base.css");
@import url("./module/navbar.css");
@import url("./module/vars.css");
@import url("./module/footer.css");
@import url("./module/carouselAndProducts.css");
@import url("./module/body.css");
@import url("./module/cart.css");
.causion {
    width: fit-content;
    height: fit-content;
    position: fixed;
    left: 30%;
    top: 10px;
}

@media (max-width: 723px) {
    .causion {
        font-size: 11px;
        width: 80px;
    }
}