@import url("./module/navbar.css");
@import url("./module/vars.css");
@import url("./module/footer.css");
@import url("./module/carouselAndProducts.css");
@import url("./module/body.css");
@import url("./module/cart.css");
@import url("./module/preview.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100vh;
    scroll-behavior: smooth;
}

button:hover {
    opacity: .8;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--white-text);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 168, 168);
    cursor: pointer;
}

.img {
    width: 250px;
    height: max-content;
    background-color: #fff;
    position: fixed;
    bottom: 50px;
    left: 0;
    z-index: 100;
    transform: translateX(-300px);
    opacity: 0;
    transition: linear 0.3s;
}

.img-active {
    opacity: 1;
    transform: translateX(0);
}

.img>img {
    height: 100%;
    width: 100%;
}

.img>i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10;
    font-size: 20px;
    background-color: var(--white-text);
    padding: 10px 10px;
}