@import url("./module/vars.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 200, 200);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: auto;
    background-color: #f5f5f5;
    padding: 50px 30px;
    border-radius: 10px;
}

form>img {
    width: 70px;
}

form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

form>div>input {
    height: 40px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
}

.input-error {
    border: 3px solid red;
}

form>div>i {
    position: absolute;
    top: 45%;
    right: 3px;
    cursor: pointer;
}

.login>i {
    top: 65% !important;
}

form>div>i:hover {
    opacity: .8;
}

form>button {
    background-color: var(--feature-color);
    border: none;
    color: var(--white-text);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form>button:hover {
    opacity: .8;
}

form>p {
    color: rgba(128, 128, 128, 0.795);
}