 @import "vars.css";
 footer {
     background-color: var(--primary-color);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 15px 30px;
 }
 
 footer * {
     color: var(--white-text);
 }
 
 footer>img {
     align-self: center;
 }
 
 footer a {
     text-decoration: none;
     color: var(--white-text);
     text-transform: uppercase;
 }
 
 footer a:hover {
     color: var(--feature-color);
 }
 
 #scroll-to-top {
     position: fixed;
     right: 0;
     bottom: 0;
     width: 30px;
     height: 30px;
     background-color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     display: none;
 }
 
 #scroll-to-top>i {
     color: var(--text-color);
     font-weight: 900;
 }
 
 #scroll-to-top:hover {
     opacity: .8;
 }
 
 .copy-right {
     align-self: center;
     color: rgba(255, 255, 255, 0.76);
     font-size: 11px;
 }